@import url('https://fonts.googleapis.com/css?family=Ubuntu|Raleway|Roboto|Open+Sans|Source+Sans+Pro|Avenir|Righteous');
@import './header.css';
@import './projects.css';
@import './projectitem.css';
@import './footer.css';
@import './clients.css';
@import './guestbook.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
